In [3]:
#載入 csv
#副檔名為 .csv 的資料格式顧名思義是逗號分隔資料（comma separated values），
#是最常見的表格式資料（tabular data）格式。
#我們使用 pandas 套件的 read_csv() 方法來載入。
import pandas as pd

url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.csv" 
# 在雲端上儲存了一份 csv 檔案
iris_df = pd.read_csv(url)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
#我們使用 pandas 套件的 read_table() 方法來載入，並且依據分隔符號指定 sep =參數。
#以 tab 鍵（"\t"）分隔
import pandas as pd

url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.tsv" 
# 在雲端上儲存了一份 tsv 檔案

iris_tsv_df = pd.read_table(url, sep = "\t")
iris_tsv_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
#以冒號（":"）分隔
import pandas as pd

url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.txt" 
# 在雲端上儲存了一份 txt 檔案
iris_colon_sep_df = pd.read_table(url, sep = ":")
iris_colon_sep_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [17]:
#我們使用 pandas 套件的 read_excel() 方法來載入。

import pandas as pd

url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.xlsx"
# 在雲端上儲存了一份 Excel 試算表
iris_xlsx_df = pd.read_excel(url)
iris_xlsx_df

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
#我們使用 pandas 套件的 read_json() 方法來載入。
import pandas as pd

url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.json" 
# 在雲端上儲存了一份 JSON 檔
iris_json_df = pd.read_json(url)
iris_json_df.head()

   Petal.Length  Petal.Width  Sepal.Length  Sepal.Width Species
0           1.4          0.2           5.1          3.5  setosa
1           1.4          0.2           4.9          3.0  setosa
2           1.3          0.2           4.7          3.2  setosa
3           1.5          0.2           4.6          3.1  setosa
4           1.4          0.2           5.0          3.6  setosa